.App {
  text-align: center;
}
.App h1 {
  color: rgb(163, 51, 53);
}
span {
  color: darkmagenta;
  font-weight: bold;
}
.card {
  width: 700px;
  display: inline-block;
  border: 2px solid black;
  box-sizing: 5px;
  margin: 10px 50px;
  padding: 10px;
}
.card div {
  text-align: center;
}
.book {
  color: rgb(175, 71, 172);
}
.decesition {
  color: indigo;
  font-size: 20px;
}
input {
  width: 300px;
  height: 25px;
  border: 3px solid rgba(10, 231, 55, 0.758);
  border-radius: 5px;
}
